<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <description>Pasta de imagens</description>
        <param-name>imagens</param-name>
        <param-value>img/</param-value>
    </context-param>
    <filter>
        <filter-name>SessionTimeoutFilter</filter-name>
        <filter-class>Filter.SessionTimeoutFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>Filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>Filter.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/Utilizador/perfil</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/Artigo/*</url-pattern>
        <url-pattern>/Atividade/*</url-pattern>
        <url-pattern>/Cidade/*</url-pattern>
        <url-pattern>/Cliente/*</url-pattern>
        <url-pattern>/Contrato/*</url-pattern>
        <url-pattern>/TipoMeioTransporte/*</url-pattern>
        <url-pattern>/Coordenada/*</url-pattern>     
        <url-pattern>/Utilizador/index</url-pattern>
        <url-pattern>/Utilizador/edit</url-pattern>        
    </filter-mapping>
    
    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <description>header e footer</description>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/*</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
    <resource-ref>
        <res-ref-name>jdbc/EuroTripsFinder</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    

    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
 
    <context-param>
        <param-name>user</param-name>
        <param-value>eurotripsfinder@gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>pass</param-name>
        <param-value>eurotripsfinder1234</param-value>
    </context-param>
 
    <!--fim smtp settings-->
    
</web-app>
